{{#if posts.length}}
<section>
    <h2>Dashboard</h2>
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
        </li>
        {{/each}}
    </ul>
</section>

<button type="submit"><a href="/dashboard/new">Add New Blog Post</a></button>

<script src="/js/addPosts.js"></script>