<article>
    <a href="/dashboard">Dashboard</a>
    <h2>Edit Blog Post</h2>
    <form class="edit-post-form">
        <label for="post-title" class="form-label">Title</label>
        <input class="form-input" name="post-title" type="text" value="{{post.title}}"/>
        <label class="form-label" for="content">Content</label>
        <input class="form-input" name="content" type="text" value="{{post.content}}"/>
        <button type="submit" class="btn">Save Post</button>
        <button type="button" class="btn delete-post-btn">Delete Post</button>
    </form>
</article>

{{ comments post.comments}}

<script src="/js/comments.js"></script>
<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>
