<div class="login-container">
    <h2>Login</h2>
    <form id="login-form" class="card-body">
        <section>
            <label for="username-login">Username</label>
            <input id="username-login" type="text" />
        </section>
        <section>
            <label for="password-login">Password</label>
            <input id="password-login" type="text" />
        </section>
        <div>
            <button type="submit">Log In</button>
        </div>
    </form>

    <a href="/signup">Don't have an account? Sign Up</a>
</div>

<script src="/javascript/login.js"></script>