<section>
    <a href="/dashboard"> Dashboard</a>
    <h2>Create a New Blog Post</h2><hr>

    <form>
        <div>
            <label>Title:</label>
            <input>
        </div>
        <div>
            <label>Content:</label>
            <input class="textarea big-text" placeholder="Start blogging here..."/>
        </div>
        <button type="submit" class="button" >Submit Post</button>
    </form>
</section>

<script src="/js/addPost.js"></script>