<section>
    <a href="/dashboard"> Dashboard</a>
    <h2>Create a New Blog Post</h2><hr>

    <form new-post>
        <div>
            <label>Title:</label>
            <input class="textarea" name="post-title"placeholder="Enter Post title here">
        </div>
        <div>
            <label>Content:</label>
            <input class="textarea" name="post-content"placeholder="Start blogging here..."/>
        </div>
        <button type="submit" class="button">Submit Post</button>
    </form>
</section>

<script src="/js/addPost.js"></script>